html {
  scroll-behavior: smooth;
}

.header {
  background-color: #191919;
}
.header .header__inner {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.header .header__inner .header__logo-link {
  font-family: "Poppins";
  font-style: normal;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  transition: 0.4s ease;
}
.header .header__inner .header__logo-link:hover {
  color: #118da8;
}
.header .header__inner .header__nav-list {
  width: 400px;
  display: flex;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 300;
  justify-content: space-between;
}
.header .header__inner .header__link {
  color: #fff;
  transition: 0.4s ease;
}
.header .header__inner .header__link:hover {
  color: #118da8;
}

.main {
  background-color: #191919;
  height: 1000px;
  display: flex;
  align-items: center;
}
.main .main__group {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.main .main__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main .main__inner .main__img img {
  width: 650px;
  height: 100%;
}
.main .main__inner .main__content {
  max-width: 530px;
  font-family: "Montserrat";
  font-size: 70px;
  font-weight: 400;
  color: #fff;
}
.main .main__inner .main__content .main__title--spaced {
  margin-bottom: 70px;
}
.main .main__inner .main__content .main__title-word {
  display: inline;
}
.main .main__inner .main__content .main__title-word--underline {
  text-decoration: underline;
  text-decoration-color: #118da8;
}
.main .main__inner .main__content .main__title-word--bold {
  font-weight: 600;
}
.main .main__inner .main__content .main__platforms {
  width: 300px;
  padding: 0px 25px;
}
.main .main__inner .main__content .main__platforms .main__label {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.main .main__inner .main__content .main__platforms .main__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__inner .main__content .main__platforms .main__icons img {
  width: 32px;
  height: 100%;
}

.frame {
  background-color: #191919;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}
.frame .frame__inner {
  max-width: 1300px;
  margin: auto;
  height: 2100px;
  display: flex;
  align-items: center;
}
.frame .frame__inner .frame__group .frame__head {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.frame .frame__inner .frame__group .frame__head .frame__title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
.frame .frame__inner .frame__group .frame__head .frame__button {
  background-color: #118da8;
  border: 2px solid #118da8;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  width: 180px;
  font-size: 17px;
  font-weight: 400;
  transition: 0.4s ease;
}
.frame .frame__inner .frame__group .frame__head .frame__button:hover {
  background-color: #fff;
  color: #118da8;
}
.frame .frame__inner .frame__group .frame__cards {
  height: 1900px;
  display: flex;
  align-items: center;
}
.frame .frame__inner .frame__group .frame__cards .frame__table {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.frame .frame__inner .frame__group .frame__cards .frame__card {
  width: 1300px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  padding: 40px;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__image img {
  width: 390px;
  height: 470px;
  margin-right: 60px;
  border-radius: 15px;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__category {
  font-size: 18px;
  width: 75px;
  height: 35px;
  background-color: #191919;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__category--resize {
  width: 140px;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__episode {
  color: #118da8;
  font-size: 19px;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__title {
  max-width: 680px;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .card__subtitle {
  font-size: 22px;
  font-weight: 400;
  max-width: 750px;
  color: #fff;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .frame__button--resize {
  width: 210px;
  height: 50px;
  background-color: #118da8;
  border: 2px solid #118da8;
  border-radius: 10px;
  color: #fff;
  transition: 0.4s ease;
}
.frame .frame__inner .frame__group .frame__cards .frame__card .frame__button--resize:hover {
  background-color: #fff;
  color: #118da8;
}

.about {
  background-color: #191919;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  color: #fff;
}
.about .about__inner {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about__inner .about__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about__inner .about__group .about__content {
  display: flex;
  height: 450px;
  width: 580px;
  flex-direction: column;
  justify-content: space-between;
}
.about .about__inner .about__group .about__content .content__button {
  background-color: #118da8;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid #118da8;
  padding: 20px;
  transition: 0.4s ease;
}
.about .about__inner .about__group .about__content .content_button img {
  width: 80px;
  transition: filter 0.4s ease;
}
.about .about__inner .about__group .about__content .content__button:hover {
  background-color: #fff;
}
.about .about__inner .about__group .about__content .content__button:hover img {
  filter: invert(47%) sepia(67%) saturate(586%) hue-rotate(174deg) brightness(94%) contrast(94%);
}
.about .about__inner .about__group .about__content .content__label {
  color: #118da8;
  font-size: 18px;
  font-weight: 400;
}
.about .about__inner .about__group .about__content .content__title {
  font-size: 65px;
  font-weight: 400;
}
.about .about__inner .about__group .about__content .content__subtitle {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 22px;
  font-weight: 400;
}
.about .about__inner .about__group .about__image {
  width: 650px;
}

.contacts {
  background-color: #191919;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
.contacts .contacts__inner {
  max-width: 1300px;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .contacts__inner .contacts__group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 60px;
  border-radius: 20px;
}
.contacts .contacts__inner .contacts__group .contacts__content {
  width: 640px;
}
.contacts .contacts__inner .contacts__group .contacts__content .content__label {
  color: #118da8;
  font-size: 18px;
  font-weight: 400;
}
.contacts .contacts__inner .contacts__group .contacts__content .content__title {
  font-size: 65px;
  font-weight: 400;
}
.contacts .contacts__inner .contacts__group .contacts__input-area {
  max-width: 520px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts .contacts__inner .contacts__group .contacts__input-area .contacts__input {
  width: 520px;
  height: 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 24px;
}
.contacts .contacts__inner .contacts__group .contacts__input-area .contacts__button {
  background-color: #118da8;
  border: 2px solid #118da8;
  border-radius: 5px;
  width: 90px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s ease;
}
.contacts .contacts__inner .contacts__group .contacts__input-area .contacts__button:hover {
  background-color: #fff;
  color: #118da8;
}

.feedback {
  background-color: #191919;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
}
.feedback .feedback__inner {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
}
.feedback .feedback__inner .feedback__group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 701px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feedback .feedback__inner .feedback__group .feedback__card {
  width: 423px;
  height: 321px;
  background-color: #000;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
.feedback .feedback__inner .feedback__group .feedback__card .feedback__card-title {
  font-size: 31px;
  width: 100%;
}
.feedback .feedback__inner .feedback__group .feedback__card .feedback__card-author {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.6980392157);
}

.footer {
  background-color: #191919;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
.footer .footer__inner {
  max-width: 1300px;
  height: 450px;
  margin: auto;
  display: flex;
  align-items: center;
}
.footer .footer__inner .footer__group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner .footer__group .footer__content .footer__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  transition: 0.4s ease;
}
.footer .footer__inner .footer__group .footer__content .footer__title:hover {
  color: #118da8;
}
.footer .footer__inner .footer__group .footer__content .footer__social {
  width: 107px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner .footer__group .footer__content .footer__social-link img {
  width: 24px;
  transition: 0.4s ease;
}
.footer .footer__inner .footer__group .footer__content .footer__social-link:hover img {
  filter: invert(47%) sepia(67%) saturate(586%) hue-rotate(174deg) brightness(94%) contrast(94%);
}
.footer .footer__inner .footer__group .footer__nav {
  display: flex;
  width: 60%;
}
.footer .footer__inner .footer__group .footer__nav .footer__nav-list {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__inner .footer__group .footer__nav .footer__nav-list .footer__nav-item {
  font-size: 17px;
}
.footer .footer__inner .footer__group .footer__nav .footer__nav-list .footer__nav-item .footer__nav-link {
  color: #fff;
  transition: 0.4s ease;
}
.footer .footer__inner .footer__group .footer__nav .footer__nav-list .footer__nav-item .footer__nav-link:hover {
  color: #118da8;
}
.footer .footer__inner .footer__group .footer__nav .footer__nav-list--resize {
  height: 220px;
}
.footer .footer__inner .footer__group .footer__platforms .footer__icons {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__inner .footer__group .footer__platforms .footer__icons .footer__icons-link {
  width: 32px;
}

/*# sourceMappingURL=style.css.map */
